#input{
    width: 550px;
}

body {
    background-color: #A9C2AE;
    font-size: large;
    text-align: center;
}

#newAdd{
    size: 400px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
}