body {
    background-color: black;
    text-align: center;
}

footer{
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

span {
    font-size:100px;
    
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

#boobutton{
    display: none;
    padding: 20px;
    cursor: pointer;
}

#laughbutton{
    display: none;
    padding: 20px;
    cursor: pointer;
}

#duckbutton{
    display: none;
    padding: 20px;
    cursor: pointer;
}

#boingbutton{
    display: none;
    padding: 20px;
    cursor: pointer;
}

#applausebutton{
    display: none;
    padding: 20px;
    cursor: pointer;
}

#boobutton:hover {
    opacity: 0.6;
}

#laughbutton:hover {
    opacity: 0.6;
}

#duckbutton:hover {
    opacity: 0.6;
}

#boingbutton:hover {
    opacity: 0.6;
}

#applausebutton:hover {
    opacity: 0.6;
}

img {
    height: 50px;
    width: 50px;
}

img:hover {
    opacity: 0.6;
}