body {
    background: darkgoldenrod;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover, #button5:hover {
    opacity: 0.5;
    animation: resteffect 1s infinite;
}


#button1, #button3 {
    background-color: #f57461;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    margin-bottom: auto;
    font-size: 130px;
}

#button4, #button2 {
    background-color: #fdd782;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    font-size: 130px;
}

#button5 {
    background-color: #fcceb6;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    size: 30px;
    top: 100px;
    font-size: 130px;
}

body #button1:active, #button2:active, #button3:active, #button4:active, #button5:active {
    animation: none;
    background-color: #eaf1d5;
}

img {
    height: 80px;
    width: 80px;
    text-align: center;
    
}

img:hover {
    opacity: 0.6;
}

    
    h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif
    }
    
    span {
    font-size:100px
    }
    
    .button{
    width: 100px;
    height: 100px;
    }
    
    #start{
    margin-top: 10px;
    text-align: center;
    }
    
    #soundbuttons, #levelbuttons{
    text-align: center;
    }
    
    .text{
    text-align: center;
    }
    
    #checkbox{
    text-align: center;
    }
    
    #boobutton{
    padding: 20px;
    cursor: pointer;
    }
    
    #laughbutton{
    padding: 20px;
    cursor: pointer;
    }
    
    #duckbutton{
    padding: 20px;
    cursor: pointer;
    }
    
    #boingbutton{
    padding: 20px;
    cursor: pointer;
    }
    
    #applausebutton{
    padding: 20px;
    cursor: pointer;
    }
    
    #boobutton:hover {
    opacity: 0.6;
    }
    
    #laughbutton:hover {
    opacity: 0.6;
    }
    
    #duckbutton:hover {
    opacity: 0.6;
    }
    
    #boingbutton:hover {
    opacity: 0.6;
    }
    
    #applausebutton:hover {
    opacity: 0.6;
    }
    
    img:hover {
    opacity: 0.6;
    cursor: pointer;
    }
    
    #turn {
    text-align: center;
    background: #330000;
    color: grey;
    font-family: courier;
    font-size: 20px;
    height: 30px;
    width: 50px;
    margin-left: -25px;
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    position: relative;
    left: 50%;
    }
    
    #count{
    text-align: center;
    }
    
    .highlight{
    background-color: blanchedalmond;
    }
    
    .toggle{
    margin-top: 10px;
    }
    
    .white {
    color: white;
    }
    
    
    footer{
    color: white;
    font-family: Arial, Helvetica, sans-serif
    }